{% extends 'sns/layout.html' %}
{% comment %} 演習① {% endcomment %}
{% comment %} django_appのsnsアプリケーションに以下の機能を追加してください。 {% endcomment %}
{% comment %} ・投稿内容編集機能 {% endcomment %}
{% comment %} ・投稿削除機能 {% endcomment %}
{% comment %} 仕様は問いませんが、それぞれでhtml、ルーティング、{% endcomment %}
{% comment %} view関数を作成するのがやりやすいと思います。  {% endcomment %}

{% block title %}Edit{% endblock %}
{% block header %}
<h1 class="display-4 text-primary">Edit</h1>
{% comment %} ↓ views.pyのparamsディクショナリに"title"記述があるとき {% endcomment %}
{% comment %} {% block title %}{{title}}{% endblock %}
{% block header %}
<h1 class="display-4 text-primary">{{title}}</h1> {% endcomment %}

<p class="caption">※投稿メッセージを編集します。</p>
{% endblock %}

{% block content %}
<form action="{% url 'edit' id %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type='submit' value='send' class="btn btn-primary">Edit!</button>
</form>
{% endblock %}